cache/
out/
broadcast/
mythril-env/
node_modules/
*.log
*.tmp
.DS_Store
Thumbs.dbcache/
out/
broadcast/
mythril-env/
node_modules/
*.log
*.tmp
.DS_Store
Thumbs.db# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
